* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

a {
  color: inherit;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #070707;
  font-weight: 500;
  font-size: 18px;
  background-color: #F6F6F6;
  padding: 0;
  margin: 0;
}

svg {
  fill: #070707;
}

header {
  background-color: #FFFFFF;
}

.color {
  background-color: #FFFFFF;
}

@media (max-width: 1250px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 320px;
  }
}
body header {
  background-color: #FFFFFF;
}
body header .header_wrapper .menu {
  padding: 33px 0;
  display: flex;
  justify-content: space-around;
}
body header .header_wrapper .menu li a {
  color: #828282;
}
body header .header_wrapper .menu li:hover a {
  color: black;
}
body header .header_wrapper .underline {
  display: flex;
  justify-content: center;
}
body header .header_wrapper .underline div {
  width: calc(100% - 10px);
  height: 1px;
  background-color: #828282;
}

@media (max-width: 767px) {
  header {
    display: none;
  }
}
input {
  display: none;
}

input:checked + label {
  color: #828282;
}

main .main_mySelf {
  padding: 40px 0 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
main .main_mySelf h1 {
  font-weight: 700;
  font-size: 47.34px;
  max-width: 123.51px;
  line-height: 58.61px;
}
main .main_mySelf p {
  line-height: 21.83px;
  max-width: 155.65px;
}
main .main_mySelf .input {
  transform: rotate(-90deg);
  margin-right: -25px;
}
main .main_mySelf .input label {
  padding: 0 0 0 5px;
}
main .main_mySelf .input label:first-of-type {
  padding-right: 10px;
  box-sizing: border-box;
  border-right: 2px solid black;
}
main .main_mySelf img {
  padding-top: 30px;
}
main .main_aboutMe {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}
main .main_aboutMe h2 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
}
main .main_aboutMe p {
  line-height: 21.83px;
  text-align: center;
  max-width: 490px;
}
main .main_skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0 110px;
}
main .main_skills h2 {
  font-size: 34px;
  line-height: 42.09px;
  padding-bottom: 70px;
}
main .main_skills p {
  line-height: 21.83px;
  padding-bottom: 80px;
}
main .main_skills .applications {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
main .main_skills .applications .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .main_skills .applications .skill .experience svg:nth-last-of-type(1) {
  fill: #828282;
}
main .main_skills .applications .skill p {
  height: 85px;
  display: flex;
  align-items: center;
  max-width: 85px;
  text-align: center;
  font-size: 14px;
  color: #828282;
  padding: 25px 0 40px;
  line-height: 17.33px;
}
main .main_skills .applications .skill:nth-child(2) .experience svg:nth-last-of-type(-n+2) {
  fill: #828282;
}
main .main_portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 115px 0 100px;
}
main .main_portfolio h2 {
  padding: 0 0 50px;
  font-size: 34px;
  line-height: 42.09px;
  font-weight: 700;
}
main .main_portfolio img {
  padding-bottom: 45px;
}
main .main_portfolio a {
  text-decoration: underline;
  color: #070707;
  font-size: 18px;
  margin-bottom: 100px;
}
main .main_portfolio a:nth-last-child(1) {
  margin-bottom: 0;
}
main .contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}
main .contacts h2 {
  padding: 0 0 20px;
  font-size: 34px;
  font-weight: 700;
}
main .contacts .chat {
  font-size: 18px;
  padding-bottom: 30px;
  text-align: center;
}
main .contacts button {
  padding: 13px 30px;
  background-color: #070707;
  color: #FFFFFF;
  border-radius: 20px;
  margin-bottom: 85px;
  transition: all 100ms;
}
main .contacts button:hover {
  box-shadow: 1px 2px 5px 1px gray;
  transform: translateY(2px);
}
main .contacts .links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 45px;
}
main .contacts .like {
  font-size: 14px;
  color: #828282;
  text-align: center;
}
main .burger {
  display: none;
  z-index: 30000;
  width: max-content;
  cursor: pointer;
  padding: 5px;
  position: fixed;
  right: 20px;
  top: 30px;
  border-radius: 5px;
  border: 2px solid black;
}
main .burger div {
  width: 33px;
  height: 3px;
  background-color: black;
  margin-bottom: 4px;
}
main .burger div:nth-last-child(1) {
  margin-bottom: 0px;
}
main .burger:hover + .sub_menu {
  display: block;
}
main .sub_menu {
  background-color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s;
}
main .sub_menu ul {
  width: max-content;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .sub_menu ul li {
  margin-bottom: 55px;
  margin-left: 30px;
}
main .sub_menu ul li a {
  color: #828282;
  font-size: 30px;
}
main .sub_menu ul li:hover a {
  color: black;
}

@media (max-width: 767px) {
  main .burger {
    display: block;
  }
  main .main_mySelf {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 60px;
  }
  main .main_mySelf .input {
    display: none;
  }
  main .main_aboutMe {
    padding-top: 70px;
  }
  main .main_skills h2 {
    padding-bottom: 35px;
  }
  main .main_skills p {
    padding-bottom: 50px;
  }
  main .main_skills .applications {
    flex-direction: column;
  }
  main .main_skills .applications .skill:not(:nth-last-child(1)) {
    padding-bottom: 50px;
  }
  main .sub_menu.moveLeft {
    transform: translateX(100vw);
  }
}

/*# sourceMappingURL=style.css.map */
