.container{
    max-width: 950px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    font-family: 'DM Sans', sans-serif;
    color: #070707;
    font-weight: 500;
    font-size: 18px;
    background-color: #F6F6F6;
    padding: 0;
    margin: 0;
}
svg{
    fill: #070707;
}
header{
    background-color: #FFFFFF;
}
.color{
    background-color: #FFFFFF;
}